Flask>=2.2.3
pydub>=0.25.1
python-dotenv>=0.21.1
langdetect>=1.0.9
torch>=2.0.0
torchaudio>=2.0.0
transformers
sentence-transformers
langchain
pinecone-client
gunicorn>=20.1.0
pandas==1.5.3
