Flask==3.0.2
pydub==0.25.1
python-dotenv==1.0.1
langdetect==1.0.9
torch==2.2.0
torchaudio==2.2.0
transformers==4.38.2
langchain==0.1.13
pinecone-client==3.0.2
pandas==2.2.1
sentence-transformers==2.5.1
gunicorn==21.2.0

